/* media query for large devices*/
@media (max-width:1024px) {
    .challenge-trusted-plant-lover .content {
        padding-left: 95px;
        padding-top: 20px;
    }
}

/* media query for mobile devices */
@media (max-width:576px) {

    /* navbar part */
    .nav {
        display: block;
        display: flex;
        margin: 10px 40px;
    }

    .nav .time {
        font-size: 17px;
        font-weight: 600;
        font-family: sans-serif;
    }

    nav {
        margin: 0 20px;
        align-items: center;
        position: relative;

    }


    .icons .unhide-ul {
        display: none;


    }

    .icons .ul-hide {
        display: inline-block;
    }

    .icons ul li:last-child a {
        font-size: 24px;
        /* position: absolute; */
        right: 0px;
        top: 34px;
    }


    /* banner part */
    .banner {
        margin: 30px 20px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .banner .text-content {
        max-width: 100%;

    }

    .banner .text-content h2, .red-span {
        font-size: 24px;
    }

    .banner .text-content p {
        font-size: 14px;
    }

    .banner .img {
        max-width: 100%;
        margin-bottom: 30px;
    }

    /* our plants section */
    .our-plants {
        margin: 0 20px;
    }

    .our-plants .content h2 {
        font-size: 24px;

    }

    .our-plants .content p {
        font-size: 14px;
    }

    .plant-grid div .flower-title, .plant-grid div .flower-price {
        font-size: 16px;
    }

    .plant-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;

    }

    /* challenge part trusted plant lover */
    .challenge-trusted-plant-lover .img img {
        display: none;
    }

    .challenge-trusted-plant-lover {
        flex-direction: column;
        margin: 40px 20px;
    }

    .challenge-trusted-plant-lover .content {
        max-width: 100%;
        padding: 0;

        margin: 30px 0 0 0;
    }

    .challenge-trusted-plant-lover .content ul li {
        margin-left: 20px;
        font-size: 14px;
    }

    .challenge-trusted-plant-lover .content h2 {
        font-size: 24px;
        display: inline;
        text-align: left;

    }

    .challenge-trusted-plant-lover .content p {
        font-size: 14px;
    }

    .challenge-trusted-plant-lover .img {
        width: 100%;

    }

    /* challenge part letest deal */
    .letest-deal {
        margin: 30px 20px;

    }

    .letest-deal .letest-deal-title h2 {
        font-size: 24px;
    }

    .letest-deal .letest-deal-title p {
        font-size: 14px;
    }

    .letest-deal .deal-grid {
        grid-template-columns: repeat(1, 1fr);

        gap: 26px;
        grid-template-rows: auto;


    }

    .letest-deal .zabo-plant {
        grid-row: auto;
    }

    .letest-deal .deal-grid .zabo-plant, .letest-deal .bloom-plant, .letest-deal .ana-plant {
        height: 206px;
    }

    .deal-grid div {
        line-height: 30px;
    }

    .deal-grid .zabo-plant h2 {
        font-size: 20px;

    }

    .deal-grid .zabo-plant span {
        font-size: 16px;
        text-underline-offset: 4px;
    }

    .letest-deal .bloom-plant {
        order: 1;

    }

    .letest-deal .zabo-plant {
        order: 3;

    }

    .letest-deal .ana-plant {
        order: 2;

    }

    /* join section */
    .join {
        height: 267px;
        /* padding: 0 20px; */

    }

    .join h2 {
        font-size: 24px;

        margin: 0 0 10px;
    }

    .buttons input {
        border: none;
        font-size: 14px;
        width: 200px;
        margin-left: 20px;

        padding: 20px 8px;

    }

    .buttons button {
        width: 130px;
        margin-right: 20px;

    }

    /* footer section */
    .main {
        flex-direction: column;
        margin: 0 20px;

    }

    .main .text {
        margin: 30px 0 24px;
    }

    .main .text p {
        font-size: 16px;
    }

    .main ul li {
        font-size: 16px;
    }

    .icons div img {
        width: 80%;



    }

    footer .copyright {
        margin: 20px 0 0 0;
        font-size: 12px;


    }




}